<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='styles/images/favicon.ico')}}">
    <title>Панель управления</title>
  </head>
  <body>

   <header class="header">
      
      <div class="header__title-container">
        <img width="63" height="auto" class="logo-small" alt="ТАИФ" src="{{ url_for('static', filename='styles/images/TAIF-logo-small.png')}}"/>
        <h1 class="title">
            Панель управления почтовым ИИ-агентом
        </h1>
      </div>

      <div class="header__email-info">
          <img class="email-info__icon" alt="Информация о почте" src="{{ url_for('static', filename='styles/images/mail-icon.svg')}}"/>
          <h3 class="email-info__header">
              Корпоративная почта
          </h3>
          <a class="email-info__link" href="mailto:bars@taif.ru">
              bars@taif.ru
          </a>
      </div>
    </header>
    <main class="dashboard">
      <div class="dashboard__main-info">
          <section class="board monitoring">
              <h3 class="board__header">
                  Мониторинг почтового ящика
                  <!--test change-->
              </h3>
              <div class="board__container">
                  <div id="status">
                      <p class="monitoring-status">Новых писем нет.</p>
                      <p id="filename"></p>
                  </div>
              </div>
          </section>
          <section class="board refinement-steps">
              <h3 class="board__header">
                  Этапы обработки
              </h3>
              <div class="board__container">
                  <ol class="steps-list">
                      <li class="steps-list__element out-of-service" id="textParseStatus">
                            <img class="steps-list__element__icon" src="{{ url_for('static', filename='styles/images/one_icon.svg')}}"/>

                            <p class="steps-list__element__step-name">Обработка текста письма с OCR</p>
                            <div class="steps-list__element__progress-bar"></div>
                      </li>
                      <li class="steps-list__element out-of-service" id="aiRecognitionStatus">
                            <img class="step-icon" src="{{ url_for('static', filename='styles/images/two_icon.svg')}}"/>
                            <p class="steps-list__element__step-name">Выделение необходимых данных из текста</p>
                            <div class="steps-list__element__progress-bar"></div>
                      </li>
                      <li class="steps-list__element out-of-service" id="directumAPIStatus">
                            <img class="step-icon" src="{{ url_for('static', filename='styles/images/three_icon.svg')}}"/>
                            <p class="steps-list__element__step-name">Создание входящего письма в Directum RX</p>
                            <div class="steps-list__element__progress-bar"></div>
                      </li>
                  </ol>
              </div>
          </section>
          <section class="board obtained-data">
              <h3 class="board__header">
                  Полученные данные
              </h3>
              <div class="board__container">
                  <ul class="obtained-data__list">
                      <li class="obtained-data__list__element" id="short-content">
                          <p class="obtained-data__list__element__field-name">
                              Краткое содержание:
                          </p>
                          <p class="obtained-data__list__element__content">
                              -
                          </p>
                      </li>
                      <li class="obtained-data__list__element" id="contragent">
                          <p class="obtained-data__list__element__field-name">
                              Контрагент:
                          </p>
                          <p class="obtained-data__list__element__content">
                              -
                          </p>
                      </li>
                      <li class="obtained-data__list__element" id="signed-by">
                          <p class="obtained-data__list__element__field-name">
                              Подписант:
                          </p>
                          <p class="obtained-data__list__element__content">
                              -
                          </p>
                      </li>
                      <li class="obtained-data__list__element" id="recipient">
                          <p class="obtained-data__list__element__field-name">
                              Получатель:
                          </p>
                          <p class="obtained-data__list__element__content">
                              -
                          </p>
                      </li>
                      <li class="obtained-data__list__element" id="date">
                          <p class="obtained-data__list__element__field-name">
                              Дата:
                          </p>
                          <p class="obtained-data__list__element__content">
                              -
                          </p>
                      </li>
                      <li class="obtained-data__list__element" id="number">
                          <p class="obtained-data__list__element__field-name">
                              Номер:
                          </p>
                          <p class="obtained-data__list__element__content">
                              -
                          </p>
                      </li>
                  </ul>
                  
              </div>
          </section>
      </div>

      <div class="dashboard__dev-info">
          <section class="board connection-status">
              <h3 class="board__header">
                  Статус подключений
              </h3>
              <div class="board__container">
                  <ul class="connection-status__list">
                      <li class="connection-status__list__element">
                          <p class="connection-status__list__element__server-name">
                              Почтовый сервер Outlook:
                          </p>
                          <p class="connection-status__list__element__status ok">
                              ОК
                          </p>
                      </li>
                      <li class="connection-status__list__element">
                          <p class="connection-status__list__element__server-name">
                              Сервер DirectumRX:
                          </p>
                          <p class="connection-status__list__element__status ok">
                              OK
                          </p>
                      </li>
                  </ul>
              </div>
          </section>
          <section class="board statistics">
            <h3 class="board__header">
                  Статистика обработки
              </h3>
            <div class="board__container">
                <ul class="statistics__list">
                    <li class="statistics__list__element">
                        <p class="statistics__list__element__field-name">
                            Писем пришло за день:
                        </p>
                        <p class="statistics__list__element__number">0</p>
                    </li>
                    <li class="statistics__list__element">
                        <p class="statistics__list__element__field-name">
                            Успешно обработано ИИ-агентом:
                        </p>
                        <p class="statistics__list__element__number">0</p>
                    </li>
                    <li class="statistics__list__element">
                        <p class="statistics__list__element__field-name">
                            Частично обработано ИИ-агентом:
                        </p>
                        <p class="statistics__list__element__number">0</p>
                    </li>
                    <li class="statistics__list__element">
                        <p class="statistics__list__element__field-name">
                            Передано на ручную обработку:
                        </p>
                        <p class="statistics__list__element__number">0</p>
                    </li>
                </ul>
            </div>
          </section>
          <section class="board log-console">
              <h3 class="board__header">
                  Вывод консоли
              </h3>
              <div class="board__container">
                  <div id="chain">
                      <div id="chainStages"></div>
                  </div>
              </div>
          </section>
          <a class="contact-button"
            href="mailto:StryginaVM@uktaif.ru">
                Связаться с разработчиками
          </a>
      </div>
    </main>

    <footer class="copyright-footer">
      <p class="copyright-footer__text">
          2026 - АО ТАИФ - Управление по АСУ и телекоммуникациям
      </p>
      
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
      <script>
          const socket = io({
          transports: ["websocket", "polling"]
          });

          socket.on("connect", () => {
              console.log("connected");
          });
          
          socket.on('new_email', data => {
              document.getElementById('status').getElementsByClassName('monitoring-status').innerHTML = `📧 Получено новое письмо! ${data.subject}`;
              document.getElementById('filename').innerHTML = ``
              document.getElementById('status').classList.remove('error');
          });

          socket.on('text_parse_started', data => {
            document.getElementById('textParseStatus').classList.remove('out-of-service');
              document.getElementById('textParseStatus').classList.add('in-process');
          });

          socket.on('text_parse_finished', data => {
              document.getElementById('textParseStatus').classList.add('completed');
              document.getElementById('textParseStatus').classList.remove('in-process');

          });

          socket.on('ai_data_recognition_started', data => {
              document.getElementById('aiRecognitionStatus').classList.remove('out-of-service');
              document.getElementById('aiRecognitionStatus').classList.add('in-process');
          });

          socket.on('ai_data_recognition_finished', data => {
              document.getElementById('aiRecognitionStatus').classList.add('completed');
              document.getElementById('aiRecognitionStatus').classList.remove('in-process');
          });

          socket.on('directum_api_started', data => {
              document.getElementById('directumAPIStatus').classList.add('in-process');
              document.getElementById('directumAPIStatus').classList.remove('out-of-service');
          });

          socket.on('directum_api_finished', data => {
              document.getElementById('directumAPIStatus').classList.remove('in-process');
              document.getElementById('directumAPIStatus').classList.add('completed');   
              document.getElementById('status').innerHTML = `<p>Обработка завершена</p>`;
        
      });

          socket.on('filename_recognized', data => {
              document.getElementById('filename').innerHTML = `<p>Вложенный файл: ${data}</p>`
          });

          socket.on('chain_update', data => {
              document.getElementById('chainStages').innerHTML = `
                  <p><strong>${data.stage}</strong>: ${data.status}</p>
                  <pre>${data.log || ''}</pre>
              `;
          });

          socket.on('error', data => {
              document.getElementById('directumAPIStatus').classList.remove('in-process', 'completed');
              document.getElementById('aiRecognitionStatus').classList.remove('in-process', 'completed');
              document.getElementById('textParseStatus').classList.remove('in-process','completed');


              document.getElementById('status').innerHTML = `Ошибка! Дополнительную информацию можно найти в консоли или логах`;
              document.getElementById('status').classList.add('error');
          });

          socket.on('reset', data => {
              document.getElementById('directumAPIStatus').classList.remove('in-process', 'completed');
              document.getElementById('directumAPIStatus').classList.add('out-of-service');

              document.getElementById('aiRecognitionStatus').classList.remove('in-process', 'completed');
              document.getElementById('aiRecognitionStatus').classList.add('out-of-service');

              document.getElementById('textParseStatus').classList.remove('in-process','completed');
              document.getElementById('textParseStatus').classList.add('out-of-service');
              
              document.getElementById('status').getElementsByClassName('monitoring-status').innerHTML=`Новых писем нет.`;
              document.getElementById('filename').innerHTML=``;

          });
      </script>
  </body>
</html>