@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.board {
  margin-top: 31px;
}
.board .board__header {
  margin: 0;
  margin-bottom: 14px;
  font-size: 21;
  font-weight: 600;
}
.board .board__container {
  background-color: white;
  border-radius: 10px;
  padding: 26px;
  font-size: 16;
  color: #26334A;
  webkit-box-shadow: 0px 5px 8px 1px rgba(34, 60, 80, 0.14);
  -moz-box-shadow: 0px 5px 8px 1px rgba(34, 60, 80, 0.14);
  box-shadow: 0px 5px 8px 1px rgba(34, 60, 80, 0.14);
}

.dashboard__main-info .board__header {
  color: #26334A;
}
.dashboard__main-info .board.refinement-steps .board__container {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.dashboard__main-info .board.refinement-steps .steps-list {
  list-style-type: none;
  padding: 0;
}
.dashboard__main-info .board.refinement-steps .steps-list .steps-list__element {
  background-color: white;
  border-radius: 10px;
  padding: 26px;
  font-size: 16;
  color: #26334A;
  webkit-box-shadow: 0px 5px 8px 1px rgba(34, 60, 80, 0.14);
  -moz-box-shadow: 0px 5px 8px 1px rgba(34, 60, 80, 0.14);
  box-shadow: 0px 5px 8px 1px rgba(34, 60, 80, 0.14);
  margin-bottom: 14;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-column-gap: 15px;
}
.dashboard__main-info .board.refinement-steps .steps-list .steps-list__element .steps-list__element__icon {
  grid-column: 1;
  grid-row: span 2;
  width: 40;
  height: auto;
  align-self: center;
}
.dashboard__main-info .board.refinement-steps .steps-list .steps-list__element .steps-list__element__step-name {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}
.dashboard__main-info .board.refinement-steps .steps-list .steps-list__element .steps-list__element__progress-bar {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
  width: 100%;
  height: 7px;
  border-radius: 30px;
  background-color: #C9C9C9;
}
.dashboard__main-info .board.refinement-steps .steps-list .steps-list__element :last-child {
  margin-bottom: 0;
}
.dashboard__main-info .board.refinement-steps .steps-list .steps-list__element.out-of-service {
  opacity: 50%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dashboard__main-info .board.obtained-data .obtained-data__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dashboard__main-info .board.obtained-data .obtained-data__list .obtained-data__list__element {
  display: grid;
  grid-template-columns: 85px 1fr;
  grid-column-gap: 22px;
  margin-bottom: 10px;
}
.dashboard__main-info .board.obtained-data .obtained-data__list .obtained-data__list__element .obtained-data__list__element__field-name {
  margin: 0;
  color: #3870FF;
  font-size: 15;
  font-style: italic;
}
.dashboard__main-info .board.obtained-data .obtained-data__list .obtained-data__list__element .obtained-data__list__element__content {
  margin: 0;
}
.dashboard__main-info .board.obtained-data .obtained-data__list :last-child {
  margin-bottom: 0;
}

.dashboard__dev-info .board__header {
  color: #949494;
  font-style: italic;
}
.dashboard__dev-info .board.connection-status .connection-status__list {
  padding: 0;
  margin: 0;
}
.dashboard__dev-info .board.connection-status .connection-status__list .connection-status__list__element {
  display: flex;
}
.dashboard__dev-info .board.connection-status .connection-status__list .connection-status__list__element .connection-status__list__element__server-name {
  margin: 0;
  margin-right: 11;
}
.dashboard__dev-info .board.connection-status .connection-status__list .connection-status__list__element .connection-status__list__element__status {
  margin: 0;
}
.dashboard__dev-info .board.connection-status .connection-status__list .connection-status__list__element .connection-status__list__element__status.ok {
  color: #29CB97;
}
.dashboard__dev-info .board.connection-status .connection-status__list .connection-status__list__element .connection-status__list__element__status.error {
  color: #FF1418;
}
.dashboard__dev-info .board.connection-status .connection-status__list .connection-status__list__element {
  margin-bottom: 13px;
}
.dashboard__dev-info .board.connection-status .connection-status__list .connection-status__list__element::before {
  content: "";
  display: inline-block;
  align-self: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #949494;
  margin-right: 10px;
  vertical-align: middle;
}
.dashboard__dev-info .board.connection-status .connection-status__list .connection-status__list__element:has(.ok)::before {
  background-color: #29CB97;
}
.dashboard__dev-info .board.connection-status .connection-status__list .connection-status__list__element:has(.error)::before {
  background-color: #FF1418;
}
.dashboard__dev-info .board.connection-status .connection-status__list :last-child {
  margin-bottom: 0;
}
.dashboard__dev-info .board.statistics .statistics__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dashboard__dev-info .board.statistics .statistics__list .statistics__list__element {
  display: flex;
}
.dashboard__dev-info .board.statistics .statistics__list .statistics__list__element .statistics__list__element__field-name {
  margin: 0;
  margin-right: 11;
}
.dashboard__dev-info .board.statistics .statistics__list .statistics__list__element .statistics__list__element__number {
  margin: 0;
  font-weight: bold;
  font-style: italic;
  color: #C9C9C9;
}
.dashboard__dev-info .board.statistics .statistics__list .statistics__list__element {
  margin-bottom: 13px;
}
.dashboard__dev-info .board.statistics .statistics__list :last-child {
  margin-bottom: 0;
}
.dashboard__dev-info .contact-button {
  margin-top: 40px;
  display: inline-block;
  padding: 20px 20px;
  background-color: #3870FF;
  color: white;
  text-decoration: underline;
  font-size: 18;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  transition: background 0.3s;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
}
.dashboard__dev-info .contact-button:hover {
  background-color: #3863D0;
}

body {
  background-color: #DBDFE8;
  font-family: "Roboto", "sans-serif";
}

.header {
  padding: 15px 200px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.header .header__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .header__title-container .logo-small {
  width: 63;
  height: auto;
  align-self: center;
}
.header .header__title-container .title {
  margin-left: 27px;
  color: #26334A;
  font-size: 22;
  font-weight: bold;
}
.header .header__email-info {
  display: grid;
  grid-row-gap: 7px;
  grid-template-columns: 80px 1fr;
}
.header .header__email-info .email-info__icon {
  color: #26334A;
  width: 41;
  height: auto;
  padding: 0 20px;
  align-self: center;
  grid-row: span 2;
  grid-column: 1;
}
.header .header__email-info .email-info__header {
  color: #26334A;
  font-size: 16;
  font-weight: 900;
  margin: 0;
  grid-row: 1;
  grid-column: 2;
}
.header .header__email-info .email-info__link {
  color: #DBDFE8;
  grid-row: 2;
  grid-column: 2;
}

.dashboard {
  background-color: #EDEDF3;
  padding: 15px 200px;
  margin: 0;
  padding-bottom: 67px;
  -webkit-box-shadow: 0px 18px 12px -18px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 18px 12px -18px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 18px 12px -18px rgba(34, 60, 80, 0.2) inset;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 56px;
}
.dashboard .dashboard__main-info {
  grid-column: 1;
}
.dashboard .dashboard__dev-info {
  grid-column: 2;
}

.copyright-footer {
  padding: 15px 200px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-shadow: 0px 18px 12px -18px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 18px 12px -18px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 18px 12px -18px rgba(34, 60, 80, 0.2) inset;
  justify-content: space-between;
  background-color: #DBDFE8;
}
.copyright-footer .copyright-footer__text, .copyright-footer .copyright-footer__contact {
  color: black;
  opacity: 45%;
  font-size: 16;
}

/*# sourceMappingURL=style.css.map */
